@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap");
:root {
  --red: #fff;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

.box{
  width: 100%;
}

*selection {
  background: var(--red);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  min-height: 100vh;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  font-size: 5.5rem;
  padding: 1rem;
  color: rgb(16, 64, 255);
}

.heading span {
  color: var(--red);
}

/* start redes sociales*/
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.icon {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px;
  border-radius: 50%;
  transition: all 0.8s;
  cursor: pointer;
}

.icon:hover {
  background-color: #000fe6;
  box-shadow: 0 0 20px #000fe6;
}

.icon:hover:nth-child(2) {
  background-color: #1877f2;
  box-shadow: 0 0 20px #1877f2;
}

.icon:hover:nth-child(3) {
  background-color: #d3259f;
  box-shadow: 0 0 20px #d3259f;
}

.icon:hover:nth-child(4) {
  background-color: #1da1f2;
  box-shadow: 0 0 20px #1da1f2;
}

.icon:hover:nth-child(5) {
  background-color: #6907ca;
  box-shadow: 0 0 20px #6907ca;
}

.icon i {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
}

svg circle {
  stroke-dasharray: 150;
  transition: all 0.8s ease-in-out;
}

.icon:hover circle {
  stroke-dasharray: 220;
}
/* end redes sociales*/

/* burbujas */

.burbuja {
  border-radius: 50%;
  background: rgb(73, 72, 72);
  opacity: 0.3;

  position: absolute;
  bottom: -150;

  animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1) {
  /*width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
  animation-delay: 3s;*/

  width: 10px;
  height: 10px;
  left: 5%;
  animation-duration: 1.8s;
  animation-delay: 4s;
}

.burbuja:nth-child(2) {
  /*width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 5s;*/

  width: 20px;
  height: 20px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4s;
}

.burbuja:nth-child(3) {
  width: 20px;
  height: 20px;
  left: 15%;
  animation-duration: 1.8s;
  animation-delay: 7s;
}

.burbuja:nth-child(4) {
  /*width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 6s;
  animation-delay: 3s;*/

  width: 20px;
  height: 20px;
  left: 90%;
  animation-duration: 2s;
  animation-delay: 3s;
}

.burbuja:nth-child(5) {
  /*width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 3s;
  animation-delay: 1s;*/

  width: 20px;
  height: 20px;
  left: 60%;
  animation-duration: 2s;
  animation-delay: 1s;
  background-color: rgb(17, 17, 17);
}

.burbuja:nth-child(6) {
  /*width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;*/

  width: 10px;
  height: 10px;
  left: 50%;
  animation-duration: 3s;
  animation-delay: 4s;
}

.burbuja:nth-child(7) {
  /*width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;*/

  width: 15px;
  height: 15px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
  background-color: rgb(82, 37, 3);
}

.burbuja:nth-child(8) {
  /*width: 100px;
  height: 100px;
  left: 52%;
  animation-duration: 5s;
  animation-delay: 5s;*/

  width: 10px;
  height: 10px;
  left: 52%;
  animation-duration: 5s;
  animation-delay: 5s;
}

.burbuja:nth-child(9) {
  /*width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 3s;
  animation-delay: 2s;*/

  width: 15px;
  height: 15px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 2s;
  background-color: rgb(17, 17, 17);
}

.burbuja:nth-child(10) {
  /*width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4s;*/

  width: 15px;
  height: 15px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 2s;
}

@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0;
  }
  30% {
    transform: translateX(10px);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    bottom: 100vh;
    opacity: 0;
  }
}

@keyframes movimiento {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

.welcome-text a {
  margin: 0px 5px;
}

.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: rgb(0, 125, 130);
  color: var(--red);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
  padding: 10px;
  margin: 10px;

  box-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1),
    0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1),
    0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1),
    0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1),
    0 0 180px rgba(38, 104, 127, 1);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: rgba(0, 178, 255, 1);
  transition: 0.3s linear;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(0, 0, 0);
  opacity: 0.9;
  padding: 2rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo img {
  position: relative;
  top: 6px;
  right: -5px;
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: white;
  font-family: "Saira Semi Condensed", sans-serif;
}
header .logo:hover {
  text-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1),
    0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1),
    0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1),
    0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1),
    0 0 180px rgba(38, 104, 127, 1);
}

header .logo i {
  padding-right: 0.5rem;
  color: var(--red);
}

header .navbar a {
  font-size: 1.8rem;
  margin-left: 2rem;
  color: rgb(255, 255, 255);
}

header .navbar a:hover {
  color: var(--red);
  text-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1),
    0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1),
    0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1),
    0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1),
    0 0 180px rgba(38, 104, 127, 1);
}

#menu-bar {
  font-size: 3rem;
  cursor: pointer;
  color: white;
  border: 0.1rem solid #666;
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
  display: none;
}

#menu-bar:hover {
  text-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1),
    0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1),
    0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1),
    0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1),
    0 0 180px rgba(38, 104, 127, 1);
}

.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background: url(./images/back_home.png) no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 20rem;
}

.home .content h3 {
  color: white;
  font-family: "Saira Semi Condensed", sans-serif;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  background-color: none;
  position: relative;
  top: 130px;
  width: 100%;
 
  padding: 1rem;
  animation: float 3.4s linear infinite;
}
.portada {
  width: 100%;
  float: right;

  min-height: 50vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.5s ease-out all;
}

.portada .header {
  font-family: "Martel", serif;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
/*contador*/
.portada {
  position: absolute;
  left: 50px;
  top: 20px;
}

.portada .aviso .mensaje {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}
#cuenta {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.simply-section {
  color: #ffffff;
  opacity: 0.9;
  width: 55px;
  height: 55px;
  margin: 0 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.simply-amount {
  display: block;
  font-size: 20px;
  font-weight: 700;
}

.simply-word {
  font-weight: 10;
  font-size: 8px;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(3rem);
  }
}

.home .content h3 {
  font-size: 8rem;
  color: rgb(149, 200, 247);
}

.home .content .glit p {
  /*font-size: 1.9rem;
  color:rgb(255, 255, 255);
  padding:1rem 0;*/
  color: #fff;
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  text-shadow: 0.05em 0 0 rgba(0, 178, 255, 1),
    -0.025em -0.05em 0 rgba(0, 178, 255, 1), 0.025em 0.05em 0 white;
}

/*START HISTORY*/

.speciality.speciality {
  background: url(./images/market.png);
}

.speciality .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.speciality .box-container .box .video {

  text-align: center;
  width: 100%;
  margin: 50px auto;
  display: block;
}

.speciality .box-container .box .glit p {
  color: #fff;
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  text-shadow: 0.05em 0 0 rgba(0, 178, 255, 1),
    -0.025em -0.05em 0 rgba(0, 178, 255, 1), 0.025em 0.05em 0 white;
}

/*END HISTORY*/

.popular.popular {
  background: url(./images/market.png);
}

.popular .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.popular .box-container .box {
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  text-align: center;
  flex: 1 1 30rem;
  position: relative;
}

.popular .box-container .box img {
  height: 25rem;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
}

.popular .box-container .box .price {
  position: absolute;
  top: 3rem;
  left: 3rem;
  background: var(--red);
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.popular .box-container .box h3 {
  color: #333;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.popular .box-container .box .stars i {
  color: gold;
  font-size: 1.7rem;
  padding: 1rem 0.1rem;
}

/* START TOKENOMICS */
.step.step {
  background: url(./images/nave2.png);
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.steps {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
}

.steps .box {
  flex: 1 1 25rem;
  padding: 5px;
}

.steps .box .img1 {
  width: 50%;
  height: 70%;
  float: right;
}

.steps .box img {
  position: relative;
  top: -4em;
  padding: 10px;
 
  
  float: right; 
 
}

.steps .box .glit h3 {
  color: rgb(255, 255, 255);
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  

  text-shadow: 0.05em 0 0 rgba(0, 178, 255, 1),
    -0.025em -0.05em 0 rgba(0, 178, 255, 1), 0.025em 0.05em 0 white;
}

.steps .box .glit p {
  color: #fff;
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  top: 10px;

  text-shadow: 0.05em 0 0 rgba(0, 178, 255, 1),
    -0.025em -0.05em 0 rgba(0, 178, 255, 1), 0.025em 0.05em 0 white;
}

/* END TOKENOMICS */

/*start ROADMAP*/
.gallery {
  background: url(./images/market.png);
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
  z-index: 2;
}
/*.vox {
  background-color: none;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  box-shadow:none;
  transform: translateX(400%);
  transition: transform 0.4s ease;
}
.vox:hover {
  background-color: rgb(181, 177, 177);
  border: 1px solid #c5c2c2;
  color: rgb(0, 0, 0);
}

.vox:nth-of-type(even) {
  transform: translateX(-400%);
}

.vox.show {
  transform: translateX(0);
}

h1 {
  color: rgb(255, 255, 255);
  margin: 50px;
}

.vox h2 {
  font-size: 45px;
}*/

.gallery .resume {
  background: #474747;
}

.gallery .resume .title-small p::before {
  content: "";
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 45px;
  top: 12px;
}

.gallery .title-small p::after {
  content: "";
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 12px;
  right: 47px;
}

.gallery .resume-content {
  align-items: center;
  padding: 0 20px;
}

.gallery .resume-content .container {
  width: 100%;
  padding: 0 20px;
  position: center;
}

.gallery .resume-content .container .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  position: center;
}

.gallery .resume-header {
  padding-bottom: 16px;
}

.gallery .education,
.experience {
  position: center;
  border-left: 1px solid #999;
  padding-top: 20px;
  margin-top: 20px;
}

.gallery .resume-item {
  margin-bottom: 24px;
  margin-left: 20px;
  position: relative;
}
.gallery .resume-item ul {
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 1.3rem;
  color: #fff;
}
.gallery .resume-item ul:hover {
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 1.3rem;
  color: rgb(5, 231, 247);
}

.gallery .resume-item::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  position: absolute;
  left: -27px;
  border-radius: 20px;
  top: 6px;
}

.gallery .res-title {
  font-weight: 700;
  font-size: 24px;
  padding: 5px 0px;
}

.gallery .res-year {
  background: rgb(255, 255, 255);
  width: 100px;
  text-align: center;
  color: #000;
  padding: 2px 0px;
  margin-bottom: 6px;
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 1.9rem;
  font-weight: 500;
}

.gallery .res-year:hover {
  background: rgb(0, 0, 0);
  width: 100px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 2px 0px;
  margin-bottom: 6px;
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 1.9rem;
  font-weight: 500;
}

.gallery .res-year::before {
  content: "";
  width: 38px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 12px;
  left: -25px;
}
/*end ROADMAP*/

/*start GAMEPLAY*/
:root .popular {
  --left-bg-color: rgba(153, 152, 247, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}
.popular.popular {
  background: url(./images/nave6.png);
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}
body .popular {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.split.left .btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 15rem;
  padding: 1.5rem;
}

.split.left h1 {
  color: rgb(1, 41, 201);
  font-size: 2.5rem;
  font-weight: bold;
}
.split.left p {
  color: rgb(1, 41, 201);
  font-size: 1.5rem;
  font-weight: bold;
}

.split.right .btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 15rem;
  padding: 1.5rem;
}
.split.right h1 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: bold;
}
.split.right p {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: bold;
}
.split.left .btn:hover {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}

.split.right .btn:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}

.popular .container {
  position: relative;
  width: 100%;
  height: 100%;
}

.split {
  position: absolute;
  width: 50%;
  height: 150%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 20px 0;
  height: 60vh;
}

.split.left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(55, 55, 56);
  opacity: 0.2;
}

.split.right {
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 20px 0;
  height: 60vh;
}

.split.right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(27, 27, 255);
  opacity: 0.2;
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
  transition: all var(--speed) ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
    top: 30%;
  }

  .btn {
    padding: 1.2rem;
    width: 12rem;
  }
}

/*ENDd GAMEPLAY*/

/*START NFT ITEMS*/
.gallerys {
  background: url(./images/nave3.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
  z-index: 2;
}

.gallerys .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.gallerys .glit h5 {
  color: #fff;
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  top: 50px;

  text-shadow: 0.05em 0 0 rgba(0, 178, 255, 1),
    -0.025em -0.05em 0 rgba(0, 178, 255, 1), 0.025em 0.05em 0 white;
}

.gallerys .box-container .box {
  top: 70px;
  right: -5px;

  height: 40rem;
  flex: 1 1 20rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

.gallerys .box-container .box-none {
  display: none;
}

.gallerys .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallerys .box-container .box .content {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: none;
  padding: 2rem;
  padding-top: 5rem;
  text-align: center;
}

.gallerys .box-container .box .content h3 {
  font-size: 2.5rem;
  color: rgb(13, 221, 183);
}

.gallerys .box-container .box .content p {
  font-size: 1.5rem;
  color: rgb(10, 213, 248);
  padding: 1rem 0;
}

.gallerys .box-container .box:hover .content {
  top: 0;
}

/*END NFT ITEMS*/

/*START TEAM*/

.review {
  background: url(./images/market.png);
  height: 1450px;
}

.review .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review .box-container .box {
  text-align: center;
  padding: 2rem;
  border: 1rem solid #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  flex: 1 1 30rem;
  background: #333;
  margin-top: 6rem;
}

.review .box-container .box img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  border: 1rem solid #fff;
  margin-top: -8rem;
  object-fit: cover;
}

.review .box-container .box h3 {
  font-size: 2.5rem;
  color: #fff;
  padding: 0.5rem 0;
}

.review .box-container .box .stars i {
  font-size: 2rem;
  color: var(--red);
  padding: 0.5rem 0;
}

.review .box-container .box p {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  padding: 1rem 0;
}

/*END TEAM*/

/*START PARTNER*/

.order.order {
  padding-top: 40px;
  background-color: black;
  min-height: 40vh;

}

.row .contenedor-imagenes {
  display: flex;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px;
  gap: 60px;
}

.order .imagen img {
  width: 300px;
  height: 70px;
  float: right;
  left: 20px;
  margin: 10px 10px 0 0;
}

.order .imagen1 img {
  width: 330px;
  height: 100px;
  float: right;
  left: 20px;
  margin: 10px 10px 0 0;
}

.order .imagen2 img {
  width: 300px;
  height: 70px;
  float: right;
  left: 20px;
  margin: 10px 10px 0 0;
}

.order .imagen3 img {
  width: 300px;
  height: 50px;
  float: right;
  left: 20px;
  margin: 10px 10px 0 0;
}

@media screen and (max-width: 1030px) {
  .contenedor-imagenes {
    width: 95%;
  }

  .gallerys .box-container .box-none {
    top: 70px;
    right: -5px;
    height: 40rem;
    flex: 1 1 20rem;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    display: block;
  }
}

@media screen and (max-width: 1030px) {
  .gallerys .box-container .box-none {
    display: none;
  }
}

@media screen and (max-width: 778px) {
  .contenedor-imagenes {
    width: 90%;
  }
  .contenedor-imagenes .imagen {
    width: 48%;
  }
  .home .image img {
    width: 90%;
    animation: float 3.4s linear infinite;
    bottom: 0;
  }
  .gallerys .box-container .box-none {
    display: block;
  }
}
@media screen and (max-width: 589px) {
  .gallerys .box-container .box-none {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 22px;
  }
  .contenedor-imagenes {
    width: 90%;
  }
  .contenedor-imagenes .imagen {
    width: 70%;
    margin-left: 100px;
  }

  .box {
    width: 100%;
  }
  .box img {
    width: 90%;
  }

  .order .imagen img {
    width: 300px;
  }
}

/*END PARTNER*/

.footer {
  background: #000;
  text-align: center;
}

.footer .share {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .credit {
  padding: 2.5rem 1rem;
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: 2rem;
}

.footer .credit span {
  color: var(--red);
}

#scroll-top {
  position: fixed;
  top: -120%;
  right: 2rem;
  padding: 0.5rem 1.5rem;
  font-size: 4rem;
  background: var(--red);
  color: #000fe6;
  border-radius: 0.8rem;
  transition: 1s linear;
  z-index: 1000;
}

#scroll-top.active {
  top: calc(100% - 12rem);
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader-container.fade-out {
  top: -120%;
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}
@media (max-width: 1370px) {
  .review {
    height: 1600px;
  }
}

@media (max-width: 992px) {
  .review {
    height: 2200px;
  }
}

@media (max-width: 850px) {
  .review {
    height: 1800px;
  }
}
@media (max-width: 750px) {
  .review {
    height: 1600px;
  }
}



@media (max-width: 600px) {
  .review {
    height: 2100px;
  }
}
@media (max-width: 470px) {
  .review {
    height: 2100px;
  }
}
@media (max-width: 380px) {
  .review {
    height: 4500px;
  }
}
@media (max-width: 340px) {
  .review {
    height: 3500px;
  }
}

@media (max-width: 1024px) {
  #menu-bar {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: black;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    display: block;
    border: 0.2rem solid rgba(0, 0, 0, 0.1);
    border-left: 0.5rem solid var(--red);
    background: black;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .order .row form .inputBox input {
    width: 100%;
  }
}

.glitch {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  text-shadow: 0.05em 0 0 rgba(0, 178, 255, 1),
    -0.025em -0.05em 0 rgba(0, 178, 255, 1), 0.025em 0.05em 0 white;
}

.neon2 {
  color: #fff;
  text-shadow: 0 0 5px rgb(156, 156, 156), 0 0 10px rgb(63, 64, 65),
    0 0 20px rgb(54, 54, 54), 0 0 40px rgb(37, 37, 37), 0 0 80px rgb(36, 36, 36),
    0 0 90px rgb(43, 43, 43), 0 0 100px rgb(41, 41, 41),
    0 0 140px rgb(19, 18, 18), 0 0 180px rgb(0, 0, 0);
}

.neon {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1),
    0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1),
    0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1),
    0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1),
    0 0 180px rgba(38, 104, 127, 1);
}

.order  h1 {
  font-size: 40px;
}

